<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="top-header">
                <img class="logo" src="/images/logo-mercado-liebre.svg">
                <form action="#" class="search-form" method="GET">
                    <input type="text" placeholder="Buscar productos, marcas"></input>
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>                 
                </form>
            </div>            
            <h2>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a class="burger-menu" href=""><i class="fas fa-bars"></i></a>
        <nav class="main-navbar">  
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>      
            <ul class="right-navbar">
                <li>
                    <a href="/register">Creá tu cuenta</a>
                    <i class="far fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i></li>
            </ul>            
        </nav>            
    </header>
    <main>
        <form action="/register" method="POST">
            <div>
                <input type="text" name="nombre" placeholder="Nombre y apellido" required>
            </div>
            <div>
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" required minlength="6" maxlength="12">
            </div>
            <div>
                <input type="email" name="email" placeholder="E-mail">
            </div>
            <div  class="tittle-input">
                <label>Fecha de nacimiento:</label>
                <input type="date" name="date">
            </div>
            <div>
                <input type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <div class="tittle-input">
                <label>Perfil del usuario:</label><br/>
                <input type="radio" name="usuario" value="Comprador"><label class="text-label">Comprador</label>
                <input type="radio" name="usuario" value="Vendedor"><label class="text-label">Vendedor</label>
            </div>
            <div class="tittle-input">
                <label >Intereses</label> <br/>
                
                <input type="checkbox" name="intereses" value="electro">
                <label class="text-label">Electro</label><br/>
                
                <input type="checkbox" name="intereses" value="moda">
                <label class="text-label">Moda</label><br/>
                
                <input type="checkbox" name="intereses" value="hogar">
                <label class="text-label">Hogar</label><br/>
                
                <input type="checkbox" name="intereses" value="jugueteria">
                <label class="text-label">Juguetería</label><br/>
                
                <input type="checkbox" name="intereses" value="vidaSana">
                <label class="text-label">Vida Sana</label>
            </div>
            <div class="tittle-input">
                <label>Foto de Usuario</label>
                <input type="file" name="foto">
            </div>
            <div>
                <input type="password" name="password" placeholder="Contraseña" minlength="6" maxlength="12" >
            </div>
            <div>
                <input type="password" name="password" placeholder="Repetir contraseña">
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
            <div>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main> 
</body>
</html>

