* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}

.banner-img {
  width: 100%;
}

/* #region  ----------- HEADER ----------- */
header {
  background-color: #eac926;
  padding: 20px;
}

.top-header {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 50%;
  cursor: pointer;
}

.logo-header img {
  width: 100%;
  padding-right: 10px;
}

.search-form {
  width: 50%;
  display: flex;
  align-items: center;
}

.top-header button.search-button,
.top-header input[type='text'] {
  background-color: white;
  color: #666;
  border: none;
  cursor: pointer;
}

.top-header button.search-button {
  width: 20%;
  border-radius: 0px 5px 5px 0px;
  height: 41px;
}

.top-header input[type='text'] {
  padding: 14px;
  border-radius: 5px 0px 0px 5px;
}

.burger-menu {
  background-color: #1259c3;
  color: white;
  display: block;
  max-width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

header h2 {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 25px;
}

.main-navbar {
  display: none;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 5px 0;
  font-size: 16px;
}

/* #endregion  ----------- HEADER ----------- */

/* #region  ----------- MAIN ----------- */

main {
  width: 90%;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.main-products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.products-section h5,
.ofers-section h5 {
  font-size: 24px;
  color: #666;
  text-align: left;
  margin-left: 10px;
}

.products {
  margin: 10px;
  padding: 5px;
  background-color: white;
  height: fit-content;
}

.products img {
  width: 100%;
}

.price {
  font-size: 18px;
  flex-grow: 3;
}

.discount {
  flex-grow: 7;
}

.discount,
.product-icon {
  color: #39b54a;
}

.discount {
  font-size: 16px;
}

.description {
  display: none;
}

.product-icon i {
  display: block;
  border: solid 1px #39b54a;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  font-size: 16px;
  position: absolute;
  right: 20px;
  top: -15px;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-box {
  width: 100%;
  border-top: solid 1px #ebebeb;
  padding: 15px;
  position: relative;
  text-align: left;
}

/* #endregion  ----------- MAIN ----------- */

/* #region  ----------- FOOTER ----------- */
footer {
  background-color: white;
  color: #666;
  padding-top: 20px;
}

.footer-info {
  text-align: center;
  width: 70%;
  margin: auto;
}

.footer-info h4 {
  font-size: 16px;
  margin: 0;
}

.footer-info p {
  font-size: 14px;
  margin: 0;
  padding: 5px 0px 10px 0px;
  margin-bottom: 20px;
}

.footer-info i {
  font-size: 2em;
  margin: 10px;
  color: #1259c3;
  transition: color 0.5s;
}

.bottom-footer {
  margin: 0;
  text-align: center;
  padding: 20px 0px;
}

/* #endregion  ----------- FOOTER ----------- */

/* #region  ----------- REGISTER - LOGIN ----------- */
.register-form,
.login-form {
  margin-top: 30px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #666;
  padding: 14px;
  margin: 15px 0;
  cursor: pointer;
}

.tittle-input {
  font-weight: bold;
  color: #666;
  margin: 15px 0px;
  width: 100%;
  text-align: left;
  padding: 15px 0px;
}

.inputs-options {
  text-align: left;
}

button {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #1259c3c2;
  color: white;
  padding: 14px;
  margin: 15px 0;
  cursor: pointer;
}

button[type='reset'] {
  background-color: #39b54a;
  transition: background-color 0.5s;
}

button[type='reset']:hover {
  background-color: #31953e;
}

.tittle-input.date {
  margin: auto;
  padding-bottom: 10px;
}

.button-submit {
  transition: background-color 0.5s;
}

.button-submit:hover {
  background-color: #0022aa;
}

.checkbox-option {
  padding: 10px 0px;
}

.checkbox-option.one {
  padding-top: 0px;
}

.text-label {
  padding: 10px 5px;
}

/* #endregion  ----------- REGISTER - LOGIN ----------- */

@media (min-width: 361px) {
  header h2 {
    font-size: 16px;
  }

  .products:hover {
    box-shadow: 0px 0px 10px rgb(100 100 100);
  }

  .price {
    padding-right: 5px;
  }
}

@media (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h2 {
    max-width: 350px;
    text-align: right;
  }

  .burger-menu {
    display: none;
  }

  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
    margin-top: 30px;
  }

  .main-navbar li {
    margin: 0 5px;
  }

  .products {
    width: 45%;
  }

  .description {
    display: block;
    color: #666;
    margin: 10px;
    font-size: 16px;
    position: relative;
    bottom: 40px;
    z-index: -1;
    opacity: 0;
  }

  .product-box:hover .description {
    position: relative;
    bottom: 0px;
    z-index: 1;
    opacity: 1;
  }

  .product-box:hover {
    max-height: fit-content;
    cursor: pointer;
  }

  .product-box {
    max-height: 70px;
  }

  .product-box {
    transform: max-height 0.5s;
  }

  .product-icon i {
    transition: transform 0.5s;
  }
  .product-icon i:hover {
    transform: rotate(-90deg);
  }

  .description {
    transition: all 0.5s;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'] {
    width: 50%;
  }

  button {
    width: 50%;
  }

  .inputs-options {
    width: 50%;
    margin: auto;
  }

  .tittle-input {
    width: 50%;
    text-align: left;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
  }

  .footer-info i:hover {
    color: #39b54a;
  }

  .footer-info {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }

  .main-header,
  .main-navbar {
    max-width: 1200px;
    margin: auto;
  }

  .main-header {
    align-items: center;
  }

  header h2 {
    max-width: none;
    margin: 0;
  }

  .main-navbar li {
    margin: 0 10px;
  }

  .main-navbar a {
    font-size: 18px;
  }

  .products {
    width: 22%;
  }
}
